@charset "uft-8";

.gnav input {
  display: none;
}

.gnav ul {
  list-style: none;
  padding-inline-start: 0;
}

.gnav a {
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .gnav {
    position: fixed;
    top: -64px;
    right: -64px;

    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    width: 128px;
    height: 128px;
    background: hsla(256, 87%, 15%, 0.95);
    border-radius: 50%;

    transition: 0.5s;
    z-index: 99999;
  }

  .gnav label {
    position: fixed;
    top: 8px;
    right: 8px;
    width: 32px;
    aspect-ratio: 1/1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .gnav label span,
  .gnav label span::before,
  .gnav label span::after {
    content: "";
    position: relative;
    display: block;
    width: 100%;
    height: 1px;
    background: #fff;
  }

  .gnav label span::before {
    top: -8px;
  }
  .gnav label span::after {
    top: 8px;
  }

  .gnav .menu-contents {
    position: relative;
    left: 100%;
  }

  .gnav .menu-contents ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .gnav .menu-contents li {
    translate: 50%;
    opacity: 0;
  }

  .gnav .menu-contents a {
    display: flex;
    gap: 1rem;
    font-size: 2rem;
  }

  /* ラベルがクリックされた時 */

  .gnav:has(#gnav-checkbox:checked) {
    top: 0;
    right: 0;
    width: 100vw;
    height: 100dvh;
    border-radius: 0;
  }

  .gnav:has(#gnav-checkbox:checked) label {
    animation: gnavLabelAnime 1s linear forwards;
  }

  @keyframes gnavLabelAnime {
    0% {
      opacity: 1;
    }
    25% {
      opacity: 0;
    }
    74% {
      left: 8px;
      top: 8px;
    }
    75% {
      position: static;
      opacity: 0;
    }
    100% {
      position: static;
      opacity: 1;
    }
  }

  .gnav:has(#gnav-checkbox:checked) label span {
    background: #fff0;
    transition: background 0.001s 0.75s;
  }
  .gnav:has(#gnav-checkbox:checked) label span::before {
    top: 0;
    rotate: 45deg;

    transition: all 0.001s 0.75s;
  }
  .gnav:has(#gnav-checkbox:checked) label span::after {
    top: 0;
    rotate: -45deg;
    transition: all 0.001s 0.75s;
  }

  .gnav:has(#gnav-checkbox:checked) .menu-contents {
    left: 0;
  }

  .gnav:has(#gnav-checkbox:checked) .menu-contents li {
    --n: 0;
    --delay: 0.25s;
    --min-delay: 0.3s;
    translate: 0;
    opacity: 1;
    transition-duration: 1s;
    transition-delay: calc(var(--delay) * var(--n) + var(--min-delay));
  }

  .gnav:has(#gnav-checkbox:checked) .menu-contents li:nth-child(1) {
    --n: 1;
  }
  .gnav:has(#gnav-checkbox:checked) .menu-contents li:nth-child(2) {
    --n: 2;
  }
  .gnav:has(#gnav-checkbox:checked) .menu-contents li:nth-child(3) {
    --n: 3;
  }
  .gnav:has(#gnav-checkbox:checked) .menu-contents li:nth-child(4) {
    --n: 4;
  }
  .gnav:has(#gnav-checkbox:checked) .menu-contents li:nth-child(5) {
    --n: 5;
  }
}
