@charset "utf-8";

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

main i::before{
  content: "スマホで閲覧してください";
  font-size: 2rem;
  font-weight: bold;
  color: #f00;
}

@media screen and (width <= 768px) {
  main i::before{
    content: "右上をタップ";
  }
}